@page
@model crud_tz.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.shelf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.shelf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.isIssued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.isIssued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.issue_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.issue_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.return_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.return_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book?.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
